<#@ template language="C#" hostspecific="true" #>
<#@ output extension=".cs" #>
using System;
namespace <#=Host.Namespace#>.ProcedureParameters
{
<#
    foreach (StoredProcedure procedure in Host.GetProcedures())
    {
        if (procedure.Parameters.Count() > 0)
        {
        }
    }
#>
}