<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Email confirmation</title>
    $css$
</head>
<body>
    <div class="email-container">
        <div class="logo-container">
            <img src="$BaseUrl$/images/querier_logo_no_bg_big.png" alt="Querier Logo" class="logo">
        </div>
        <h1>Welcome to Querier</h1>
        <p>Hello $FirstName$ $LastName$,</p>
        <p>Please confirm your email address by clicking the link below:</p>
        <a href="$BaseUrl$/email_confirmation?token=$Token$&mail=$Email$" class="button">Confirm my email</a>
        <p>This link is valid for $TokenValidity$ days.</p>
    </div>
</body>
</html> 